@use "../abstracts/mixins" as *;

.header {
   top: 0;
   left: 0;
   width: 100%;
   background-color: var(--color-primary);


   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:3.5rem 10.33rem;

      @include mq(medium) {
         padding:2rem 2.44rem 3.62rem 2.44rem;
      }

      @include mq(small) {
         padding:2.31rem 1rem 4.27rem 1rem;
     }
   }

   &__access {
      font-weight: 700;
      @include bottom-line;

      &:hover {
         color: var(--color-green);
      }
   }

}