@use 'sass:map';

@mixin bottom-line {
   color: var(--color-white);
   text-decoration: underline;
   text-decoration-color: var(--color-green);
   text-underline-offset: 0.55rem;
   text-decoration-thickness: 0.1875rem;
}

/*
0 - 600px: Phone (max-width: 37.5em)
600 - 900px: Tablet portait (max-width: 56.25em)
900 - 1200px: Tablet Landscape (max-width: 75em)
[1200 - 1800px] is where out normal styles apply (min-width: 37.5e)
1800px +: Big desktop (min-width: 112.5em)
*/

$breakpoints:(
   small: 37.5em,
   medium: 75em
);

@mixin mq($key) {
   $size: map.get($breakpoints, $key);

   @media (max-width: $size) {
      @content;
   }
}